# Archivos y carpetas a ignorar en un proyecto Unity 2D

/test-git-unity/Temp/
/test-git-unity/Library/
/test-git-unity/Logs/
/test-git-unity/obj/
/test-git-unity/Build/
/test-git-unity/Builds/
/test-git-unity/UserSettings/

# Capturas de memoria y grabaciones
/test-git-unity/[Mm]emoryCaptures/
/test-git-unity/[Rr]ecordings/

# Complementos y cachés
/test-git-unity/[Aa]ssets/Plugins/Editor/JetBrains*
/test-git-unity/.vs/
/test-git-unity/.gradle/
/test-git-unity/ExportedObj/
/test-git-unity/.consulo/

# Archivos de configuración y compilación
/test-git-unity/*.csproj
/test-git-unity/*.unityproj
/test-git-unity/*.sln
/test-git-unity/*.suo
/test-git-unity/*.tmp
/test-git-unity/*.user
/test-git-unity/*.userprefs
/test-git-unity/*.pidb
/test-git-unity/*.booproj
/test-git-unity/*.svd
/test-git-unity/*.pdb
/test-git-unity/*.mdb
/test-git-unity/*.opendb
/test-git-unity/*.VC.db

# Archivos generados automáticamente
/test-git-unity/sysinfo.txt
/test-git-unity/*.apk
/test-git-unity/*.aab
/test-git-unity/*.unitypackage
/test-git-unity/*.unitypackage.meta
/test-git-unity/*.app
/test-git-unity/crashlytics-build.properties

# Datos de Addressables y StreamingAssets
/test-git-unity/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/test-git-unity/[Aa]ssets/[Ss]treamingAssets/aa.meta
/test-git-unity/[Aa]ssets/[Ss]treamingAssets/aa/

# Configuración de TextMesh Pro
/test-git-unity/[Aa]ssets/TextMesh Pro/Resources/Font Asset Creator Settings.asset
/test-git-unity/[Aa]ssets/TextMesh Pro/Resources/LineBreaking Following Characters.asset
/test-git-unity/[Aa]ssets/TextMesh Pro/Resources/LineBreaking Leading Characters.asset

# Datos de iluminación y Tilemaps
/test-git-unity/[Aa]ssets/LightingData.asset
/test-git-unity/[Aa]ssets/ReflectionProbe-*.exr
/test-git-unity/[Aa]ssets/[Tt]ilemaps/*
/test-git-unity/[Aa]ssets/[Tt]iles/*

# Archivos de configuración específicos del repositorio
/test-git-unity/.idea/
/test-git-unity/*.iml
/test-git-unity/.vscode/
/test-git-unity/*.log